<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OAuth | History</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<%- include('partials/client_header'); -%>
<div class="container">
    <div class="card mw-40">
        <h2>Update Details</h2>
        <form action="/client/update" method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" value="<%= client1.name %>">
            </div>
            <div class="form-group">
                <label for="callback_url_1">Callback URL 1</label>
                <input type="text" name="callback_url_1" id="callback_url_1" value="<%= client1.callback_url_1 %>">
            </div>
            <div class="form-group">
                <label for="callback_url_2">Callback URL 2</label>
                <input type="text" name="callback_url_2" id="callback_url_1" value="<%= client1.callback_url_2 %>">
            </div>
            <div class="row mt-20">
                <button type="reset" class="btn-outline">Reset</button>
                <button type="submit">Update</button>
            </div>
        </form>
    </div>
</div>
<%- include('partials/footer') -%>
<script src="/js/main.js"></script>
<script type="text/javascript">
    const message = "<%= message %>"
    if (message)
        showSnackbar(message);

    const revoke = async (id) => {
        if (confirm("Are you sure you want to revoke this token?")) {
            try {
                const {body} = await request("/api/v1/token/revoke?_id=" + id);
                showSnackbar(body.message);
                setTimeout(() => {
                    window.location.reload();
                }, 1000);
            } catch (e) {
                console.error(e);
                showSnackbar(e.message);
            }
        }
    }
</script>
</body>
</html>